<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/png" sizes="16x16">

    <title>Sky Group</title>
</head>

<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sky Group</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!--
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/associates">Areas of Operations</a></li>
                        <li><a class="dropdown-item" href="/clients">Areas of Expertise</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Training
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/clients">Classroom Training</a></li>
                        <li><a class="dropdown-item" href="/associates">In-Company Training</a></li>
                        <li><a class="dropdown-item" href="/associates">On-Line Training</a></li>
                    </ul>
                </li>

                <!--                <li class="nav-item">
                                    <a class="nav-link" href="/training">Training</a>
                                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Apps
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/associates">CMP</a></li>
                        <li><a class="dropdown-item" href="/clients">Findings & Corrective Actions</a></li>
                        <li><a class="dropdown-item" href="/clients">GSRM</a></li>
                        <li><a class="dropdown-item" href="/associates">Workload Tracking</a></li>
                        <li><a class="dropdown-item" href="/associates">SPI Creator</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/associates">Mission & Values</a></li>
                        <li><a class="dropdown-item" href="/clients">History</a></li>
                        <li><a class="dropdown-item" href="/clients">Clients</a></li>
                        <li><a class="dropdown-item" href="/associates">Team</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/associates">Job Opportunities</a></li>
                        <li><a class="dropdown-item" href="/students">B2B Opportunities</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/clients">Legal Policy</a></li>
                        <li><a class="dropdown-item" href="/clients">Privacy Policy</a></li>
                        <li><a class="dropdown-item" href="/clients">Refund Policy</a></li>
                        <li><a class="dropdown-item" href="/clients">Terms of Use</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/training">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
<div class="container d-flex justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Manage
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/clients">Clients</a></li>
                <li><a class="dropdown-item" href="/associates">Associates</a></li>
                <li><a class="dropdown-item" href="/students">Students</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/admin">Admin</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/training">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/training">Log-in</a>
        </li>
    </ul>
</div>
</nav>

<br>
<div class="container">
    {% block content %}
    {% endblock %}
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
-->
</body>
</html>